h1 {
 background-color: #C0E0EB;
 text-color: black;
}

h2 {
 background-color: #FCF1D1;
 text-color: black;
}

.zebra-even {
 background-color: #edf3fe;
 text-color: black;
}

.zebra-odd {
 background-color: #ffffff;
 text-color: black;
}

/* undo freeform uglies */
.freeform-description {
 border-bottom: none;
}

.eocmanage-footer {
 text-align: right;
 font-size: 80%;
 background-color: #FCF1D1;
 text-color: black;
}

table {
 width: 100%;
}

.statusmessage {
 font-size: 120%;
 text-color: black;
 background-color: #FFF1D1;
 border: 1px solid #cccccc;
 width: 40%;
 margin-left: 5%;
 margin-right: auto;
 padding-left: 0.5em;
 padding-right: 0.5em;
 padding-top: 0.1em;
 padding-bottom: 0.1em;
}

.freeform-label {
 clear: left;
 margin-top: 0.2em;
 margin-bottom: 0.2em;
}
