/* undo freeform uglies */
.freeform-description {
 border-bottom: none;
}

.freeform-label {
 clear: left;
 margin-top: 0.2em;
 margin-bottom: 0.2em;
}

.eocmanage-footer {
 text-align: right;
 font-size: 80%;
}

table {
 width: 100%;
}

.statusmessage {
 font-size: 120%;
 border: 1px solid #cccccc;
 width: 40%;
 margin-left: 5%;
 margin-right: auto;
 padding-left: 0.5em;
 padding-right: 0.5em;
 padding-top: 0.1em;
 padding-bottom: 0.1em;
}
