h1 {
 background-color: #C0E0EB;
 text-color: black;
}

h2 {
 background-color: #FCF1D1;
 text-color: black;
}

.zebra-even {
 background-color: #edf3fe;
 text-color: black;
}

.zebra-odd {
 background-color: #ffffff;
 text-color: black;
}

.eocmanage-footer {
 background-color: #FCF1D1;
 text-color: black;
}

.statusmessage {
 text-color: black;
 background-color: #FFF1D1;
}
